nav {
    border-bottom: 1px solid black;
    overflow: auto
}

#message_box {
    border: 1px solid black; 
    height: 400px; 
    width: 800px; 
    overflow: auto;
    padding: 2px;
}

.text  {
    margin-top: 2px;
    margin-bottom: 2px;
}

.nav-style {
    border-bottom: 1px solid black;
}
.ol-style {
    float: right;
}
.li-style {
    display: inline-block;
}


#input_box {
    display: none;
}

.message {
    margin: 0px;
}
.green {
    color: green;
}
.black {
    color: black;
}
.red {
    color: red;
}