.friend-item {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    list-style-type: none;
}

.friend-item:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    color: #007bff; /* Change text color on hover */
}

#messageBox {
    height: 400px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.friend-item span {
    color: red;
}
.members-container {
    display: flex;      
    overflow-x: auto;     /* if exceed it enable scrall */
    align-items: center;  
    padding: 10px;
    white-space: nowrap;  
    background: #f8f9fa;  
    border-radius: 5px;   
}

.members-container span {
    margin-right: 15px;
    padding: 5px 10px;
    background: #e1e1e1;  
    border-radius: 5px;   
}

.help-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 20px;
    border: 3px solid #f98686;
    box-shadow: 0 4px 8px rgba(76, 81, 102, 0.1);
    z-index: 1050;
}
