{% extends 'base.jinja' %}
{% block content %}
<link rel="stylesheet" href="/static/css/article.css">

<div class="container">
  <!-- navbar -->
  <nav class="navbar border-bottom mb-4">
    <div class="container-fluid ps-0">
      <a class="navbar-brand" href="{{ url_for('message') }}">Piazza</a>
      <ul class="nav nav-underline justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('message') }}">Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('article') }}">Article</a>
        </li>
        {% if user.account_type != "student" %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin') }}">Manage</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- title -->
  <nav class="navbar border-bottom">
    <div class="container ps-0 align-items-end">
      <h3>Article</h3>
      <div>
        <span>Username: {{ user.username }}</span>
        <span class="badge text-bg-secondary">{{ user.account_type }}</span>
        <span class="badge text-bg-secondary">{% if user.mute_status %}muted{% endif %}</span>

      </div>
    </div>
  </nav>

  <ul class="list-group list-group-flush">
    {% for article in articles %}
    <li class="list-group-item">
      <h5>
        <strong>
          <a href="{{ url_for('comment', id=article.id) }}">{{ article.title }}</a>
        </strong>
      </h5>
      <div class="container article-content">
        <p>{{ article.content }}</p>
      </div>
      <div class="container text-muted">
        <small>
          {{ article.author }}
          <span class="badge text-bg-secondary">{{ article.author_obj.account_type }}</span>
        </small>
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- write a new article -->
  <form id="newArticleForm">
    <div class="mt-5">
      {% if user.mute_status %}
      <div class="alert alert-warning" id="muteWarning">You have been muted!</div>
      {% endif %}
      <div class="alert d-none" id="newArticleAlert"></div>
      <label class="form-label">Write a new article</label>
      <input type="text" class="form-control" id="newArticleTitle" placeholder="Title" required {{ 'disabled' if
        user.mute_status }}>
      <textarea class="form-control mt-2" id="newArticleContent" rows="3" required {{ 'disabled' if user.mute_status
        }}></textarea>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" {{ 'disabled' if user.mute_status }}>Submit</button>
      </div>
    </div>
  </form>

</div>

<script src="/static/js/article.js"></script>
{% endblock %}