{% extends 'base.jinja' %}
{% block content %}
<div class="container">
    <!-- navbar -->
    <nav class="navbar border-bottom mb-4">
      <div class="container-fluid ps-0">
        <a class="navbar-brand" href="{{ url_for('index') }}">Piazza</a>
        <ul class="nav nav-underline justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('message') }}">Message</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('article') }}">Article</a>
          </li>
          {% if account_type == "admin" %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin') }}">admin</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

  <!-- title -->
  <nav class="navbar border-bottom">
    <div class="container ps-0 align-items-end">
      <h3>Article</h3>
      <div>
        <span>Username: {{ username }}</span>
        <span class="badge text-bg-secondary">{{ account_type }}</span>
      </div>
    </div>
  </nav>

  <!-- write new post -->
  <div class="mt-5">
    <div class="alert d-none" id="newArticleAlert"></div>
    <label for="newArticleText" class="form-label">Write a new post</label>
    <textarea class="form-control" id="newArticleText" rows="3"></textarea>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" id="newArticleSubmitButton">Submit</button>
    </div>
  </div>
</div>

<script src="/static/js/article.js"></script>
{% endblock %}