<!DOCTYPE html>
<html>
    <head>
        <title>HTML :)</title> 
        <script src="/static/js/libs/axios.min.js"></script>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/js.cookie.min.js"></script>
        <!-- bootstrap5.3.3 -->
        <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css">
    </head>
    <body>
        <!-- The content from any other page goes here -->
        {% block content %} {% endblock %}
    </body>
</html>