{% extends 'base.jinja' %}
{% block content %}
<link rel="stylesheet" href="/static/css/home.css">
<div class="container">
    <nav class="navbar border-bottom">
        <div class="container">
            <a href="{{ url_for('home', username=username) }}" class="navbar-brand">Message App</a>
        </div>
    </nav>

    <div class="row mt-5">
        <div class="col-8">
            <div class="container border" id="message_box"></div>

            <form class="input-group" id="startChatForm">
                <input type="text" class="form-control" placeholder="username">
                <button type="submit" class="btn btn-outline-primary">Chat</button>
            </form>

            <form class="input-group d-none" id="messageInputForm">
                <input type="text" class="form-control" placeholder="message">
                <button type="submit" class="btn btn-outline-secondary">Send</button>
                <button id="leaveButton" class="btn btn-outline-danger">Leave Room</button>
            </form>
        </div>

        <div class="col-4">
            <h2>Current Friends</h2>
            <ul class="mb-4 ps-0">
                {% for friend in friends %}
                <div class="d-flex justify-content-between">
                    <li class="p-2 flex-grow-1 friend-item rounded" name="{{ friend }}">
                        <span>●</span>
                        {{ friend }}
                    </li>
                    <button class="btn btn-danger btn-sm remove-button" name="{{ friend }}">Remove</button>
                </div>
                {% endfor %}
            </ul>

            <div class="mb-4">
                <h2>Pending Friend Requests</h2>
                <ul class="list-group list-group-flush">
                    {% for friend in pending_friends %}
                    <li class="list-group-item d-flex justify-content-between">
                        {{ friend }}
                        <div>
                            <button class="btn btn-success btn-sm handle-request-button" name="{{ friend }}" value="true">Confirm</button>
                            <button class="btn btn-danger btn-sm handle-request-button" name="{{ friend }}" value="false">Reject</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h2>Add New Friend</h2>
                <div class="alert d-none" id="addFriendAlert"></div>
                <form class="input-group" id="addFriendForm">
                    <input type="text" name="friend" class="form-control" placeholder="Enter username">
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/libs/socket.io.min.js"></script>
<script src="/static/js/home.js"></script>
{% endblock %}