{% extends 'base.jinja' %}
{% block content %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<!--Navbar, you'll see the username here-->
<nav class="nav-style">
    <ol class="ol-style">
        <li class="li-style">Username: {{ username }}</li>
    </ol>
</nav>

<h1>Messaging App </h1>

<main>
    <!-- The messages are displayed here -->
    <section id="message_box"></section>

    <!-- These part ideally should be a form element, 
    but I wrote this code a year ago and I don't want to break anything...-->
    <section id="chat_box">
        <p class="text">Chat with: </p>
        <input id="receiver" placeholder="username">
        <button id="join_room_button">Chat</button>
    </section>

    <!-- The (message) input box is set to display: none initially, 
    this means the input box is "invisible" initially-->
    <section id="input_box">
        <p class="text">Message: </p>
        <input id="message" placeholder="message">
        <button id="send_button">Send</button>
        <button id="leave_button">Leave Room</button>
    </section>

    <!-- Friend interactions section -->
    <section>
        <!-- View current friends -->
        <div>
            <h2>Current Friends</h2>
            <ul>
                {% for friend in friends %}
                    <li class="friend_item" name="{{ friend }}">{{ friend }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- View pending friend requests -->
        <div>
            <h2>Pending Friend Requests</h2>
            <ul>
                {% for friend in pending_friends %}
                    <li>{{ friend }}</li>
                    <button class="accept_button" name="{{ friend }}">Confirm</button>
                    <button class="reject_button" name="{{ friend }}">Reject</button>
                {% endfor %}
            </ul>
        </div>

        <!-- Add new friends -->
        <div>
            <h2>Add New Friend</h2>
            <input id="new_friend_username" placeholder="Enter username">
            <button id="add_friend_button">Add Friend</button>
        </div>
    </section>
</main>
<script src="/static/js/libs/socket.io.min.js"></script>
<script src="/static/js/home.js"></script>
{% endblock %}
