{% extends 'base.jinja' %}
{% block content %}
<link rel="stylesheet" href="/static/css/message.css">

<div class="container">
  <!-- navbar -->
  <nav class="navbar border-bottom mb-4">
    <div class="container-fluid ps-0">
      <a class="navbar-brand" href="{{ url_for('message') }}">Piazza</a>
      <ul class="nav nav-underline justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('message') }}">Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('article') }}">Article</a>
        </li>
        {% if user.account_type == "admin" or user.account_type == "academic" or user.account_type == "administrative" %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin') }}">Manage</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- title -->
  <nav class="navbar border-bottom">
    <div class="container ps-0 align-items-end">
      <h3>Message App</h3>
      <div>
        <span>Username: {{ user.username }}</span>
        <span class="badge text-bg-secondary">{{ user.account_type }}</span>
        <span class="badge text-bg-secondary the_mute_status">{% if user.mute_status %}muted{% endif %}</span>
      </div>
    </div>
  </nav>
<div class="mt-3">
    <h4 class="mb-2">Current Room Members:</h4>
    <div id="roomMembers" class="members-container">
        {# it will be append here!!! #}
    </div>
</div>


  <!-- content -->
  <div class="row mt-5">
    <div class="col-8">
      <div class="container border" id="messageBox"></div>

      <form class="input-group" id="startChatForm">
        <input type="text" class="form-control" placeholder="username" {{ 'disabled' if user.mute_status }}>
        <button class="btn btn-outline-primary" {{ 'disabled' if user.mute_status }}>Chat</button>
      </form>

      <form class="input-group d-none" id="messageInputForm">
        <input type="text" class="form-control" placeholder="message" {{ 'disabled' if user.mute_status }}>
        <button class="btn btn-outline-secondary" {{ 'disabled' if user.mute_status }}>Send</button>
        <button type="button" id="leaveButton" class="btn btn-outline-danger">Leave Room</button>
      </form>
    </div>

    <div class="col-4">
      <h2>Current Friends</h2>
      <ul class="mb-4 ps-0">
        {% for friend in user.friends %}
        <div class="d-flex justify-content-between">
          <li class="p-2 flex-grow-1 friend-item rounded" name="{{ friend.username }}">
            <span class="online-status">●</span>
            {{ friend.username }}
            <span class="badge text-bg-secondary">{{ friend.account_type }}</span>
          </li>
          <button class="btn btn-danger btn-sm remove-button" name="{{ friend.username }}">Remove</button>
        </div>
        {% endfor %}
      </ul>

      <div class="mb-4">
        <h2>Pending Friend Requests</h2>
        <ul class="list-group list-group-flush">
          {% for friend in user.pending_friends %}
          <li class="list-group-item d-flex justify-content-between">
            <div>
              {{ friend.username }}
              <span class="badge text-bg-secondary">{{ friend.account_type }}</span>
            </div>
            <div>
              <button class="btn btn-success btn-sm handle-request-button" name="{{ friend.username }}"
                value="true">Confirm</button>
              <button class="btn btn-danger btn-sm handle-request-button" name="{{ friend.username }}"
                value="false">Reject</button>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div>
        <h2>Add New Friend</h2>
        <div class="alert d-none" id="addFriendAlert"></div>
        <form class="input-group" id="addFriendForm">
          <input type="text" name="friend" class="form-control" placeholder="Enter username">
          <button class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="/static/js/libs/socket.io.min.js"></script>
<script src="/static/js/message.js"></script>
{% endblock %}